.info{
	padding: 10px 20px;
	div.page-header{
		padding-bottom: 2px;
		margin: 10px 0;
		font-size: 18px;
		font-family: 'OsnovaProBold', Arial, sans-serif;
		font-weight: normal;
	}
}

#org_map{
	width: 100%;
	height: 305px;	
}