#custom{
	label{
		font-weight: normal;
		color: #656565;
	}
	label.required {
		font-size: 13px;
		color: black;
	}
}


.position{
	margin-top: 10px;
	padding-top: 10px;
  padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
  


	& > div{
		padding-top: 5px;
		text-align: right;
    font-weight: bold;

    .count{
      
    }

    .price{

    }
	}
}