<div class="col-xs-12 col-sm-6 col-sm-offset-3">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title"><%=@category.new_record? ? 'Создать категорию' : 'Редактировать категорию'%></h3>
		</div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>
